<nav class="navbar navbar-expand-md">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a a routerLink="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a routerLink="/about">About</a>
            </li>
            <li class="nav-item">
                <a routerLink="/services">Services</a>
            </li>
            <li class="nav-item">
                <a routerLink="/gallery">Gallery</a>
            </li>
            <li class="nav-item">
                <a a routerLink="/contact">Contact</a>
            </li>

        </ul>

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>




<router-outlet></router-outlet>


<footer class="flinks">
   <div class="container">
        <p class="float-left">
            <img src="/assets/logo.png" alt="">
        </p>
        <p>eWebDesigns - Mobile & Desktop Web Development <a id="fl1" href="https://ewebdesigns.com.au">Visit our site</a> or visit bootstrap demo page <a id="fl2" href="https://getbootstrap.com/docs/4.0/examples/">getting started guide</a>.</p>
    </div>
  </footer>
